/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* Variables */

:root {
  --body-bg: #f5f5f6;
  --primary-color: #000041;
  --light-color: #556370;
  --input-bg: #462a9b;
  --item-bg: #fff;
  --text-color-light: #000;
  --text-color-dark: #462a9b;
}
/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  background: var(--body-bg);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
button {
  background-color: var(--input-bg);
  letter-spacing: 0.06rem;
}
/* Form */

.form__wrapper {
  padding: 1rem;
  background-color: var(--primary-color);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 100vh;
  position: relative;
}

.heading {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.heading span:nth-child(2) {
  margin: 0 1rem;
}
.error {
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  background-color: rgb(182, 17, 17);
  border-radius: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  width: 16rem;
  margin: auto;
  top: 6.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.error.show {
  display: block;
  visibility: visible;
  opacity: 1;
}
.meun-btn {
  display: none;
  position: absolute;
  top: 1rem;
  font-size: 1.2rem;
  color: #fff;
  right: 1.5rem;
  z-index: 100;
  cursor: pointer;
}
.current__operarion {
  margin: 1rem 0 1rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}
.form__control {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem;
  position: relative;
}

.form__control span {
  font-weight: 600;
  letter-spacing: 0.056rem;
}
.form__control span:not(.form__input-label) {
  color: #fff;
}
.form__input-label {
  color: var(--light-color);
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 6%;
  transition: 0.3s;
}
.form__input {
  width: 100%;
  background-color: #eeeeee;
  border: none;
  outline: none;
  padding: 0.5rem 0.7rem;
  border-radius: 1.4rem;
  color: #02131e;
}
.form__input:last-child {
  cursor: pointer;
}
.form__input:focus {
  background-color: #fff;
}
.form__input:focus ~ .form__input-label,
.form__input-label.active {
  top: -1.5rem;
  left: 0;
  color: #fff;
}
.time-labels {
  display: flex;
  justify-content: space-between;
}
.time-labels span {
  width: 48%;
}
.time-inputs {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.time-input {
  width: 48%;
}
.add__btn {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.add__btn:hover {
  background-color: #506874;
}
/* Home */

.home {
  position: absolute;
  top: 0;
  left: 18rem;
  width: calc(100% - 18rem);
  padding: 1rem;
}
.home__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--input-bg);
  text-align: center;
  position: relative;
}
.home__title span {
  position: fixed;
  top: 40%;
  bottom: 40%;
  left: 40%;
  transform: translate(-30%,14rem);
}
.items__wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 17rem));
  justify-content: center;
  gap: 1rem;
}
.item__container {
  position: relative;
  background-color: var(--item-bg);
  text-transform: capitalize;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-out;
  padding: 0.7rem 1rem;
  width: 100%;
}

.item__container.open {
  height: 100%;
}
.close-item-btn {
  position: absolute;
  right: 0.6rem;
  font-size: 1.1rem;
  display: none;
}

.item__container.open .close-item-btn {
  display: block;
}
.item__title {
  padding-bottom: -1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  font-weight: 600;
  color: var(--text-color-dark);
  text-align: center;
}
.done-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 1.2rem;
}
.item__list li p {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color-light);
  transition: 0.2s;
}
.item__list li p span {
  color: var(--text-color-dark);
  font-weight: 800;
}

.item__btns {
  width: 90%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.1rem 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.btn i {
  font-size: 1.2rem;
}

.complete__btn i {
  color: green;
}
.edit__btn i {
  color: var(--primary-color);
}
.delete__btn i {
  color: red;
}

.done-top {
  position: absolute;
  top: 0.5rem;
  left: 1%;
  color: #fff;
  background-color: green;
  padding: 0.2rem;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1.1rem;
  border-radius: 1rem 1rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.done .done-top {
  opacity: 1;
  visibility: visible;
}

.done p {
  text-decoration: line-through;
}

.filter__wrapper {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  height: 35px;
  transition: 0.3s;
  overflow: hidden;
}

.filter-btn {
  width: 100%;
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  padding: 0.4rem 1rem;
  border: 2px solid var(--input-bg);
  outline: none;
  background-color: var(--input-bg);
  color: #fff;
  text-transform: capitalize;
  border-radius: 1rem;
  transition: 0.4s;
  cursor: pointer;
}
.filter-btn:hover {
  background: none;
  color: var(--primary-color);
}

.filter__list {
  width: 100%;
  background-color: #fff;
  height: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
}
.filter__list li {
  padding: 0.3rem;
  width: 100%;
  text-transform: capitalize;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
}
.filter__list li:last-child {
  border: none;
}
.filter__list li:not(.date-filter .filter__list li):hover {
  background-color: #556370;
  color: #fff;
}
.date-filter .filter__list {
  min-height: 104px;
  overflow-y: scroll;
}
.filter__item-list {
  display: none;
}
.filter__item-list.open {
  display: block;
}
.filter__item-list li {
  padding: 0.3rem 0.5rem;
}
.filter__item-list li:hover {
  background-color: #556370;
  color: #fff;
  z-index: 10;
}
.date-filter {
  position: relative;
}
.date-filter .fa {
  position: absolute;
  right: 0;
  top: 0.5rem;
  cursor: pointer;
}
.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 2rem;
  letter-spacing: 0.1rem;
}
.empty__list {
  width: 100%;
  display: grid;
  place-items: center;
}
.empty__list p {
  font-size: 2rem;
  font-weight: 500;
}
.empty__list .filter-btn {
  width: auto;
  margin: 2rem;
}

.copyright {
  width: 8rem;
  position: absolute;
  top: -0.6rem;
  right: 0;
  font-weight: 600;
  font-size: 0.6rem;
  color: #000;
}

/* Animations */
.form__control,
.add__btn {
  opacity: 0;
  filter: blur(4px);
}
.home {
  transform: scale(0.94);
  animation: scale 1s 0.2s forwards;
}
.home * {
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 0.5s 0.2s forwards;
}

.form__control,
.add__btn {
  animation: fade-in 1s 0.4s forwards;
}
.current__operarion,
.heading {
  opacity: 0;
  filter: blur(4px);
}
.heading {
  animation: fade-in 1s 0.1s forwards;
}
.current__operarion {
  animation: fade-in 1s 0.2s forwards;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Media Queries */

@media screen and (max-width: 670px) {
  .heading{
    font-size: 1.6rem;
    margin-top: .3rem;
  }
  .form__wrapper {
    position: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3.5rem;
    overflow-y: hidden;
    padding-top: 0.2rem;
    transition: height 0.4s;
  }
  .error {
    top: 5.6rem;
  }
  .form__wrapper.show-menu {
    height: 589px;
  }
  .heading {
    text-align: left;
  }
  .meun-btn {
    display: block;
  }
  .home {
    position: unset;
    width: 100%;
    margin: auto;
    padding: 1rem;
  }
  .filter__wrapper {
    width: 100%;
  }
  .filter-btn {
    width: 100%;
  }
  .home__title span {
    position: unset;
    font-size: 1.3rem;
    transform: translate(5rem,-5rem);
  }
  .items__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
  .copyright {
    left: -1rem;
    top: -0.8rem;
  }
}
